:root {
  --rosa: #ff7878;
  --rosabebe: #ffb2b2;
  --rojo: #df4646;
  --bordo: #a70808;
  --bordo: #a70808;
  --primario: #dc9c9c;
  --primarioDark: #8f6565;
  --secundario: #e6baba;
  --terciario: #d17f7f;
  --hover: #cf7777;
  --azul: #364d5c;
  --dark: #0d0d0d;
  --light: #f2f2f2;
  --lilac: #9ca1db;
  --green: #9cdbae;
  --yellow: #dbce9c;
}
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
body {
  padding: 0;
  width: 100%;
  margin: 0;
  background-color: #f2f2f2;
  position: relative;
  height: 100vh;
}
.dark {
  /* color: black !important; */
  background-color: var(--dark) !important;
}
.oculto {
  display: none !important;
}

button,
.btn {
  font-weight: 400;
  /* background-color: rgba(167, 8, 8, 0.2); */
  background-color: var(--terciario);
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.btn:hover {
  cursor: pointer;
}
.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  /* background-color: rgba(167, 8, 8, 0.4); */
  background-color: var(--primario);
  border-radius: 0 0 50px 50px;
}
.utils {
  display: flex;
  align-items: center;
}
#btn-add-gasto {
  /* background-color: rgba(167, 8, 8, 0.2); */
  background-color: var(--terciario);
  padding: 10px;
  border-radius: 10px;
}
#btn-add-gasto:hover {
  background-color: var(--hover);
}

.historial-contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.gasto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(167, 8, 8, 0.28);
  padding: 0 50px;
  box-sizing: border-box;
}
.fecha-box {
  width: 10% !important;
}
.gasto h2 {
  width: 25%;
}
.gasto p {
  width: 25%;
}

.categoria-box {
  width: 5%;
}
.total-box {
  width: 25%;
  text-align: center;
  font-size: 20px;
}

.par {
  background-color: rgba(167, 8, 8, 0.36);
}
.agregar-gasto {
  position: fixed;
  /* width: 430px; */
  width: 600px;
  height: 365px;
  top: 50%;
  left: 50%;
  margin-top: -210px;
  margin-left: -300px;
  z-index: 10;
  background-color: rgba(167, 8, 8);
  /* background-color: rgba(167, 8, 8); */
  background-color: var(--primario);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
}
.error-desc {
  font-size: 14px;
  margin: 0;
  margin-left: 5px;
}
.agregar-gasto label {
  display: flex;
}
.agregar-gasto input,
select {
  margin-left: 10px;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  /* background-color: rgba(255, 178, 178, 0.3); */
  background-color: var(--secundario);
  color: white;
  font-size: 18px;
}
.agregar-gasto select:focus {
  background-color: #e96767;
}

#modo-tema {
  height: fit-content;
  border-radius: 100px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
#modo-tema:hover {
  background-color: rgba(167, 8, 8, 0.25);
}
#modo-tema img {
  height: 28px;
  width: 28px;
  border-radius: 100px;
  fill: white !important;
}
#modo-tema img svg {
  fill: white !important;
}
.buttons {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: right;
}
#btn-cancelar,
#btn-aceptar,
#btn-aceptar-borrar,
#btn-cancelar-borrar {
  font-size: 16px;
}
#btn-cancelar,
#btn-cancelar-borrar {
  background: none;
  border: solid rgba(167, 8, 8, 0.2) 3px;
  margin-right: 8px;
}
.error {
  border: solid rgba(167, 8, 8, 1) 2px !important;
}

.blur {
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  /* height: 200%; */
  /* height: 100%; */
  height: 100vh !important;
  opacity: 0.7;
  z-index: 9;
}

.trashcan,
.ellipsis {
  height: 20px;
  width: 20px;
}
.ellipsis {
  padding-left: 25px;
}

/* Graficos */
.graficos-contenedor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#grafico-pie {
  font-family: white;
}

.hover:hover {
  cursor: pointer;
  opacity: 0.7;
}

.borrar-gasto {
  position: fixed;
  /* width: 430px; */
  width: 400px;
  height: 150px;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -200px;
  z-index: 10;
  background-color: var(--primario);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
}

/* Filtros */
.filtrar-historial {
  display: flex;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  /* background-color: rgba(167, 8, 8, 0.28); */
  background-color: var(--hover);
  border-radius: 50px 50px 0 0;
  /* border-radius: 50px; */
}
#ordenar-basura,
#ordenar-ellipsis {
  height: 20px;
  width: 20px;
}
#ordenar-ellipsis {
  padding-left: 25px;
}
#ordenar-nombre,
#ordenar-total,
#ordenar-categoria {
  width: 25%;
}
#ordenar-total {
  text-align: center;
}
#ordenar-fecha {
  width: 10%;
}

.error-no-gastos {
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0d0d0d;
}
.error-no-gastos h3,
.error-no-gastos p {
  color: #0d0d0d;
}
.error-no-gastos h3 {
  font-size: 25px;
  font-weight: 500;
}
.error-no-gastos p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
#btn-add-gasto-sec {
  background-color: var(--primario);
  color: #f2f2f2;
}
#btn-add-gasto-sec:hover {
  background-color: var(--hover);
  cursor: pointer;
}
